<%- include ('_layouts/header') %>
    <style>
        h1 {
            text-align: center;
            font-family:Rockwell;
        }
        
        
        p {
            text-align: center;
            font-family: serif;
        }
        h3 {
            text-align: center;
            font-family:Rockwell;
        }
        .one{
            list-style-type:none;
            display:flex;
            justify-content: center;
            
          }
          .one li{
            display: list-item;
            background-color: rgb(187, 255, 201);
            padding: 5px 10px;
            color:black;
            margin: 0 3px;
            
          }
          


    </style>
    <h1>uTrade</h1>
    <div class="everything">

        <div class="first">
            <section>
                <h3>Team</h3>

                <p>Scrumples </p>
                <h3>Members</h3>
                <p>Tony, Henri, Billy, Mike</p>

                <h3>Date of last update</h3>
                <p> 05/04/2021 </p>
                <h3>Description</h3>
                <p> uTrade is an E-commerce web application were users can create account, sell, buy and trade products
                    with other users.<br> Users will be able to post products to sell or trade, where other users will
                    have the option to buy or trade the posted product </p>
            </section>

            <section>
                <h3>Priority</h3>
                <ul class="one">
                    <li>Account validation</li>
                    <li>Create account</li>
                    <li>Post item</li>
                    <li>Buy item</li>
                    <li>Trade item</li>


                </ul>

                <h3>Non-Priority</h3>
                <ul class ="one">
                    <li>Chat with sellers</li>
                    <li>Transaction forms</li>
                    <li>Interactive Graphics</li>



                </ul>

                <h3>Languages and Platform</h3>
                <ul class="one">
                    <li>Node.js</li>
                    <li>Express framework</li>
                    <li>Javascript</li>
                    <li>HTML/CSS/EJS</li>
                    <li>MongoDB</li>





                </ul>





            </section>

        </div>
        <div class="second">
            <section>
                <h3>Technical features learned in class</h3>
                <p> full utilization of HTML/CSS/Javascript/Node.js to develop fully functional web application.
                </p>
                <h3>Technical features that goes beyond </h3>
                <p> Fully dynamic web application that will communicate with database to grab and post elements.
                </p>
                <h3>Update </h3>
                <p> After countless number of attempt to work with Azure SQL server, We decided to change to MongoDB,
                    <br>since it allowed smoother connection between Node.js. With SQL server, there were random times<br>
                    were data connection loses and query fails.
                </p>
            </section>



        </div>
    </div>



    <%- include ('_layouts/footer') %>